<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.sys.dao.SysDeptMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.test.sys.entity.SysDept">
	<id column="id" property="id" jdbcType="BIGINT" />
	<id column="name" property="name" jdbcType="VARCHAR" />
	<id column="parent_id" property="parentId" jdbcType="INTEGER" />
	<id column="level" property="level" jdbcType="VARCHAR" />
	<id column="seq" property="seq" jdbcType="INTEGER" />
	<id column="remark" property="remark" jdbcType="VARCHAR" />
	<id column="operator" property="operator" jdbcType="VARCHAR" />
	<id column="operator_time" property="operatorTime" jdbcType="DATE" />
	<id column="operator_ip" property="operatorIp" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
	id, name, parent_id, level, seq, remark, operator, operator_time, operator_ip
	</sql>

	<select id="getChilDeptListByLevel" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from sys_dept
		WHERE level like #{level} || '.%'	--如果传入的参数是0，则匹配0.%
	</select>

	<update id="batchUpdateLevel" parameterType="map">
		<foreach collection="sysDeptList" item="sysDept" separator=";">
			UPDATE sys_dept
			SET level = #{dept.level}
			WHERE id = #{dept.id}
		</foreach>
	</update>

</mapper>